.head-table {
  :global {
    .ant-table-wrapper .ant-table .ant-table-thead > tr > th {
      padding: 5px;
      height: 25px;
    }
    .ant-table-wrapper .ant-table table .ant-table-tbody > tr > td {
      padding: 3px 5px;
    }
    .ant-table .ant-table-body .ant-table-tbody .ant-table-row .ant-table-selection-column {
      padding-left: 14px;
    }
  }
}

.eq-task-doc-sum-rate {
  :global {
    .ant-form-item {
      margin-bottom: 0;
      .ant-form-item-label {
        line-height: 47px;
        vertical-align: baseline !important;
      }
      .ant-form-item-control {
        line-height: 47px;
      }
      .ant-form-item-control-wrapper {
        .ant-form-item-children .ant-input {
          // height: 40px;
          // line-height: 40px;
          border-radius: 0 !important;
        }
      }
    }
  }
}
